beautifulsoup4==4.6.0
cssutils==1.0.2
cycler==0.10.0
Django==1.11.4
django-filter==1.0.4
djangorestframework==3.6.4
Jinja2==2.9.6
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.0.2
mpld3==0.3
numpy==1.13.3
olefile==0.44
pandas==0.20.3
Pillow==4.2.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
selenium==3.5.0
six==1.11.0
splinter==0.7.6
